{% extends 'base.html.twig' %}

{% block title %}WINKER{% endblock %}

{% block body %}
    <div class="container" style="color: #f0f0f0;">


        <div class="flex-row row column-content-wrapper">


            <div id="content" class="col-12 article-container">

                <article id="page-1902" class="post-1902 page type-page status-publish czr-hentry">
                    <header class="entry-header ">
                        <div class="entry-header-inner">
                            <h1 class="entry-title">Політика конфіденційності</h1>
                        </div>
                    </header>  <div class="post-entry tc-content-inner">
                        <section class="post-content entry-content ">
                            <div class="czr-wp-the-content">

                                <p>Дякуємо за використання веб-сайту winker.com.ua. Ми важливо ставимося до захисту вашої конфіденційності і особистої інформації. Ця політика конфіденційності розкриває, яку інформацію ми можемо збирати від вас та як ми використовуємо цю інформацію.</p>



                                <ul>
                                    <li><strong>Збір інформації</strong></li>
                                </ul>



                                <p>Ми можемо збирати особисту інформацію від вас, таку як ім’я, електронна пошта, номер телефону та інші дані, якщо ви надаєте цю інформацію добровільно при реєстрації або взаємодії з нашим сайтом.</p>



                                <ul start="2">
                                    <li><strong>Використання інформації</strong></li>
                                </ul>



                                <p>Ми використовуємо надану вами інформацію для поліпшення наших послуг, персоналізації вашого взаємодії з веб-сайтом, а також для відправки вам інформації про наші продукти та послуги, якщо ви надали згоду на отримання рекламної інформації.</p>



                                <ul start="3">
                                    <li><strong>Захист інформації</strong></li>
                                </ul>



                                <p>Ми вживаємо всіх необхідних заходів для захисту вашої особистої інформації від несанкціонованого доступу, використовуючи технічні та організаційні заходи безпеки.</p>



                                <ul start="4">
                                    <li><strong>Розкриття інформації третім особам</strong></li>
                                </ul>



                                <p>Ми не передаємо ваші особисті дані третім особам без вашої згоди, за винятком випадків, коли це вимагається законом.</p>



                                <ul start="5">
                                    <li><strong>Cookies та аналітика</strong></li>
                                </ul>



                                <p>Наш веб-сайт може використовувати cookies для поліпшення функціональності та аналітичних цілей. Ви можете налаштувати свій браузер так, щоб відмовитися від використання cookies.</p>



                                <ul start="6">
                                    <li><strong>Зміни в політиці конфіденційності</strong></li>
                                </ul>



                                <p>Ми можемо час від часу оновлювати цю політику конфіденційності. Будь ласка, періодично переглядайте цей документ, щоб бути в курсі будь-яких змін.</p>



                                <p>Якщо у вас є будь-які питання чи зауваження щодо цієї політики конфіденційності, будь ласка, зв’яжіться з нами за адресою support@winker.com.ua.</p>



                                <p>Дякуємо за довіру та використання нашого веб-сайту.</p>



                                <p>З повагою, Команда winker.com.ua</p>
                            </div>
                            <footer class="post-footer clearfix">
                            </footer>
                        </section><!-- .entry-content -->
                    </div><!-- .post-entry -->
                </article>                </div>


        </div><!-- .column-content-wrapper -->



    </div>

{% endblock %}
